<!DOCTYPE html>
<html>
  <head>
    <title>Blog34</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://kit.fontawesome.com/2a886bdc0e.js", crossorigin: "anonymous" %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
